
@{
    ViewData["Title"] = "Confirm Email";
}

<div class="text-center">
    <h2>Your Email is confirmed successfully</h2>
    <p>Please <a asp-action="Login" asp-controller="Account">Click here</a> to login</p>
</div>

