@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <h1>Login</h1>
    <hr />
    <form method="post" >
        <div class="text-danger" asp-validation-summary="All"></div>
        <div>
            <label class="form-label" asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div>
            <label class="form-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mt-2">
            
            <input class="form-check" type="checkbox" asp-for="RememberMe" />
            <label class="form-label" asp-for="RememberMe"></label>
            
        </div>
        <div class="mt-2">
            <button class="btn btn-primary" type="submit">Login</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
        </div>

    </form>
    <a class="mt-2 text-decoration-none" asp-action="ForgetPassword" asp-controller="Account">Forgot Password?</a>
</div>

