@model IEnumerable<LostAndFoundBikeInformation>
@{
    ViewData["Title"] = "FoundBikes";
}
<div class="bg-light">
    <div class="container">
        <h1 mt-2>Missing Bikes</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Bike Name</th>
                <th>Bike Registration</th>
                <th>Bike Serial No</th>
            </tr>
            </thead>
            @foreach (var lostBikes in Model)
            {
                
                <tbody>
                <td>@lostBikes.BikeName</td>
                <td>@lostBikes.BikeRegNo</td>
                <td>@lostBikes.BikeSN</td>
                @if (lostBikes.IsFound)
                {
                    <td class="fw-bolder text-danger">Bike is Found</td>
                }
                <td><a class="btn btn-primary" asp-action="FullDetails" asp-controller="Home" asp-route-BikeId="@lostBikes.EncryptedId">View Full Details</a></td>
                

                </tbody>

                

            }

        </table>

    </div>
</div>

</div>