
@{
    ViewData["Title"] = "Success";
}

<div class="text-center text-success">
    <h1>@ViewBag.SuccessTitle</h1>
    <h3>@ViewBag.SuccessMessage</h3>
    <img class="img-fluid" src="~/images/istockphoto-1294095671-612x612-removebg-preview.png" />
</div>

